sudo: required
language: node_js
node_js:
- node
branches:
  only:
    - master
before_install:
- sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
- echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
- sudo apt-get update -qq
- sudo apt-get install -y -qq yarn
- yarn global add bower
- yarn install
- bower install
cache:
  yarn: true
script:
- gulp
after_success:
- ".travis/push.sh"
env:
  global:
    secure: SkTYPhYdUnzz4aNZlX9iEmiMtecjww8pnYatTk1O6yueJeuSO7reIE7sskOQdoQe82q4p23gilB16lzkNaDGA/9YBO2cD0HklAxhol7SpeAIly30wBuAO3LM4kodnyoJEpCyaHbPv5s71xSiQhcEFF6zvyW4b6WLuWKXbmSNAvVjYE9Pj/U9vEY5dz3wrWX+aSnhaMSv+SjhjTE/HYVEdNFP7cIeS0P6IWkQpnBb5qbMUfDAbkCGQpKjmORsu/gUkjXlG9afDYzfGW8eIw3el/eur0I/lHK3G0Y7ht5ZHZ/cdEA0wYDixFlDUq/rNK+yWGazSZwsSCGkngaqMD1LIahUOqfv5Mrw/OORqge22XHQQ/1ZNyqY2KHHjqrmgVtOTBw6mijXdcuHz5XD7DJUUMrL6tlaVaErTpocfUAMQkUoz2iATnEcD//XlNxHBw9+261RhNf7ELgfuZIleN39EjtBWLo/Fcy4v0T03jDHnXHcjtmGJgchcvsr0nZ6XSf7FOpZZi4yMkDdIdvUEpwqoL9+jjkgz/2K3wS0Jp+PTQ2W+WRnbT4dPRPNiSjOFowmt1DDcV2BEufcGqWCAXbe6mIwLSK3al52nEJ/wjsEzxkM8WNRBMvGI3HglTCjzIhfopPsN4ImyXX9+pWP52DjCvngpgqa1clEPFbCgU6TfzQ=
