<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Волонтери акції :: Миколая про тебе не забуде</title>
    <link rel="icon" type="image/png" href="http://mykolaj.com.ua/favicon-16x16.png" sizes="16x16">
    <style>
        body {
            font-family: "Roboto", sans-serif;
            margin: 0;
            padding: 0;
        }
        
        iframe {
            border: none;
            height: 100%;
            width: 100%;
        }
        
    </style>
</head>

<body>
    <iframe src="https://script.google.com/macros/s/AKfycbxM1liLbxllGg-F80IX_8r7LQtJz0AHKa6gYOqh1WEFqlmKlBo/exec"></iframe>
</body>

</html>