<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рознесення подарунків - часті питання :: Миколая про тебе не забуде</title>
    <link rel="icon" type="image/png" href="https://mykolaj.com.ua/favicon-16x16.png" sizes="16x16">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <style>
        body {
            font-family: "Roboto", sans-serif;
        }
        
        h3,
        h4 {
            font-weight: normal;
        }

        img {
            margin-top: 10px;
        }

        .panel-default>.panel-heading {
            color: #be402a;
            font-weight: normal;
        }

        .panel-title a {
            display: block;
        }
    </style>
    <script>
        const faqs = [
            {
                q: "Я не можу знайти адресу", 
                a: [
                    "Перегляньте нотатки, цілком ймовірно, що минулого року волонтери зіткнулися з такими ж труднощами і залишили для вас інформацію.",
                    "В конверті, який ви отримали, була невелика карта, на якій маркерами було позначено приблизне розташування адрес.",
                    "Трапляється, що на цій карті бувають помилки. Ви можете спробувати знайти адресу на Google Maps. більшість адрес з нашої бази даних знаходяться в цих картах правильно.", 
                    "Якщо не вдалося знайти адресу на Google Maps, повідомте, будь ласка, нам в нотатках.",
                    "Спробуйте спитати місцевих жителів, де знаходиться адреса, яку ви шукаєте. Якщо вам допомогли, не забудьте пригостити людину цукеркою з торбинки.",
                    "Пам'ятайте, що парні номери будинків зазвичай знаходяться по іншій стороні вулиці, ніж непарні. Тобто будинок номер 12 потірно шукати між 10 і 14, а не біля 11.",
                    "Якщо вам було тяжко знайти адресу, не забудьте в бланку, який не показуєтся батькам, вказати в нотатках, як можна її знайти - наприклад, якийсь орієнтир."
                ]
            }, {
                q: "Я не можу потрапити в під'їзд", 
                a: [
                    "Перегляньте нотатки, цілком ймовірно, що минулого року волонтери зіткнулися з такими ж труднощами і залишили для вас інформацію",
                    "Рознесення відбувається в той час, коли багато людей повертається з роботи. Зачекайте декілька хвилин, хтось заходитиме в під'їзд, і ви зможете зайти з ним",
                    "Якщо на під'їзді встановлено кодовий замок, можете спробувати підібрати код, поки чекаєте. Якщо це вдасться, не забудьте залишити нотатку в бланку з кодом",
                    "Якщо на під'їзді встановлено домофон, і в квартирі, в яку ви йдете, ніхто не піднімає слухавку, це не завжди означає, що нікого немає вдома. Деколи це може означати, що домофон не підключено. Спробуйте подзвонити в сусідні квартири і попросити відкрити вам; скажіть, що ви Помічники Святого Миколая і йдете в квартиру №ХХ, а там не працює домофон"
                ]
            }, {
                q: "Нікого немає вдома", 
                a: [
                    "Спробуйте повернутися на цю адресу пізніше. Можливо, люди ще не повернулися з роботи.",
                    "Якщо і далі нікого немає вдома, подзвоніть сусідам. Розпитайте їх, чи живе тут така сім'я. Всі коментарі сусідів можете занотувати в бланку, який не можна показувати батькам, але не забудьте вказати - \"Зі слів сусідів\"",
                    "Попросіть сусідів передати цей подарунок сім'ї, коли вона повернеться. Попросіть теж підписатися сусіда про отримання, а в бланку, який не можна показувати батькам, залиште нотатку, що пакунок залишили сусідам. Не забудьте подякувати і пригостити цукерками з торбинки.",
                    "Якщо сусіди не погодилися передати, можете попросити інших сусідів. Не залишайте пакунок під дверима."
                ]
            }, {
                q: "Сім'я переїхала", 
                a: [
                    "Спробуйте дізнатися, куди саме переїхала сім'я.",
                    "Якщо нова адреса сім'ї знаходиться в тому ж районі, спробуйте віднести подарунок туди.",
                    "Якщо адреса знаходиться в іншому районі, і встигнути туди нема можливості, поверніть подарунок на Фабрику Святого Миколая.",
                    "Обов'язково вкажіть в нотатках нову адресу родини.",
                    "Якщо нову адресу не вдалося дізнатися, позначте це в нотатках. Подарунок розформуйте по інших сім'ях. Якщо це остання адреса, можете вернутися на якусь з попередніх адрес, де діти підходять по віку і статі, і залишити їм і цей, пояснивши, що першого разу не все віддали."
                ]
            }, {
                q: "Вдома є лише дитина", 
                a: [
                    "Якщо ви чуєте, що вас питає \"Хто там?\" дитина, не кажіть, що ви Помічники Святого Миколая; першим ділом спитайтеся, чи є хтось дорослий вдома і попросіть покликати його",
                    "Якщо вдома немає зараз дорослих, спитайте, коли будуть. Найбільш ймовірно, що вони скоро повернуться з роботи чи з магазину - і ви зможете повернутися на цю адресу пізніше, коли вони вже будуть",
                    "Якщо дитина все ж відчинила двері вам сама і нікого немає з дорослих, ввічливо поясніть їй, що так робити не варто. Спитайте, коли будуть вдома батьки і попросіть її пообіцяти не відкривати двері незнайомцям"
                ]
            }, {
                q: "Батьки відмовляються прийняти подарунок", 
                a: [
                    "Вони мають на це право. Ви можете спробувати поцікавитися причиною відмови",
                    "Якщо це з релігійних міркувань, ви можете спробувати їм пояснити, що ви прийшли до дитини і хотіли передати їй подарунок. Якщо батьки хочуть, вони можуть самі передати цей подарунок їй в контектсі вірувань їх релігії",
                    "Якщо це через те, що батьки не знають про свято Миколая, ви можете коротко розповісти їм про нього, пояснивши, що в цей день прийнято дарувати дітям подарунки",
                    "Кінцеве рішення все одно приймають батьки",
                    "Як би не завершилася ситуація, зробіть відповідну нотатку в бланку, який не можна показувати батькам, щоб наступного року волонтери були готові до цього"
                ]
            }, {
                q: "Батьки питаються, від кого насправді подарунок", 
                a: [
                    "Спробуйте перевести таке запитання на жарт - всі подарунки від Святого Миколая.",
                    "Ми не політична організація. Жодна політична сила чи окремі політики не стоять за цією акцією.",
                    "Якщо всі ці відповіді не влаштовують батьків і вони хочуть знати більше, ви можете показати назву акції на бланку, який вони підписуватимуть. За цією назвою можна знайти сайт акції, де є контакти оргкомітету. Запропонуйте їм сконтактувати з оргкомітетом акції і ми відповімо на їхні запитання"
                ]
            }, {
                q: "Батьки відмовляються підписатися в бланку", 
                a: [
                    "Спробуйте пояснити батькам, що цей підпис потрібен нам для звітності, що ми таки принесли подарунок за цією адресою.",
                    "Можете використовувати жарт про те, що підпис нам потрібен, щоб прозвітувати перед Святим Миколаєм, що ми вже були за цією адресою.",
                    "Якщо батьки все одно відмовляються підписати - вони мають на це право. Просто після виходу з квартири зробіть про це позначку в клітинці для підпису (напишіть \"Відмовились підписатися\""
                ]
            }, {
                q: "В хаті є ще діти, яких не було в нашому списку", 
                a: [
                    "При видачі подарунків 18 грудня на Фабриці Святого Миколая ви отримаєте додаткові подарунки - вони будуть максимально універсальні і зможуть підійти для більшості дітей. Вручіть додатковий подарунок дитині. Якщо дітей, яких не було в списках, є декілька, вручіть декілька додаткових подарунків. Крім того, можете подарувати частину цукерок з торбинки, яку вам видадуть 18 грудня ввечері",
                    "Постарайтеся вияснити, чи ці діти живуть тут постійно, чи тимчасово, чи просто зайшли в гості. Про це можете спитати батьків вже після того як привітаєте дітей, віддасте їм подарунки, і батьки будуть підписувати бланк"
                ]
            }, {
                q: "Дані про дітей, згідно яких ми пакували, були неправильні", 
                a: [
                    "Постарайтеся оцінити ситуацію - наскільки відрізняються дані відносно тих, по яких ви пакували.",
                    "Якщо діти зовсім іншого віку чи іншої статі, краще подарувати додатковий подарунок замість основного. Їх вам видадуть 18 грудня на Фабриці Святого Миколая",
                    "Якщо дані просто відрізняються несильно, спробуйте непомітно (в мішку) витягнути ту частину подарунку, яка не підходить", 
                    "Перед виходом з квартири постарайтеся вияснити в батьків правильні дані, щоб наступного року спакувати подарунок правильно"
                ]
            }, {
                q: "Хтось в квартирі в стані алкогольного сп'яніння", 
                a: [
                    "Уникайте конфліктних ситуацій. Не робіть зауважень цій людині. Ви прийшли до дитини, щоб принести їй подарунок",
                    "Намагайтеся відрізняти стан алкогольного сп'яніння від стану, коли людина щось святкуєпід час застілля",
                    "Після виходу з квартири обов'язково залиште нотатку в бланку, який не можна показувати батькам. Ми передамо ці дані соціальним службам"
                ]
            }, {
                q: "Хтось в квартирі проявляє до мене агресію", 
                a: [
                    "Уникайте конфліктних ситуацій. Не робіть зауважень цій людині. Ви прийшли до дитини, щоб принести їй подарунок",
                    "Якщо ситуація загострюється, попрощайтеся, побажайте веселих свят і вийдіть з помешкання. Ваше здоров'я важливіше",
                    "Після виходу з квартири обов'язково залиште нотатку в бланку, який не можна показувати батькам. Ми передамо ці дані соціальним службам"
                ]
            }, {
                q: "Адреса знаходиться в гуртожитку", 
                a: [
                    "В гуртожитках в коридорах ви зустрінете багато дітей. Коридори гуртожитку - один великий ігровий майданчик",
                    "Якщо адреса знаходиться в гуртожитку, інформація про це буде в нотатках",
                    "При отриманні подарунків 18 грудня на Фабриці Святого Миколая попросіть, щоб вам дали більше додаткових подарунків",
                    "Будьте готові до того, що можуть виникнути ситуації, коли частина мешканців гуртожитку уде незадоволеною тим, що ви не прийшли до них",
                    "Основна увага повинна бути тим дітям, до яких ви прийшли по списках. Іншим можете подарувати додаткові подарунки і цукерки з торбинки"
                ]
            }
        ];

        let layout = '';

        for (let i = 0; i < faqs.length; i++) {
            
            layout += `
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-${i}">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-${i}"
                                aria-expanded="false" aria-controls="collapse-${i}">
                                ${faqs[i].q}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-${i}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-${i}">
                        <div class="panel-body">
            `;

            for (let j = 0; j < faqs[i].a.length; j++) {
                layout += `
                    <p>${faqs[i].a[j]}</p>
                `;
                        
            }

            layout += `</div></div></div>`;
        }
        
        $(document).ready(function() {
            $('.panel-group').html(layout)
        });
    </script>
</head>

<body>
    <div class="container">
        <img src="https://mykolaj.com.ua/images/main-logo-small.png">
        <h3>Відповіді на часті запитання, які можуть виникнути при рознесенні подарунків</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
    </div>
</body>

</html>