<section class="main-block text-center" id="about_action">
  <div class="container">
    <h2 class="main-block_h">про акцію</h2>
    <div class="main-block_text">
      <p>
        <b>Миколай про тебе не забуде</b> — щорічна благочинна акція, завданням якої є зібрати та роздати подарунки (солодощі, іграшки, книжки, фарби, олівці, зошити, засоби гігієни) для тих діток, які могли би залишитися без нашої або батьківської уваги, а також створити особливу чарівну атмосферу свята.
      </p>
      <p>
        Акція започаткована у Львові в 2001 році  та проводиться щорічно по всій території України напередодні Дня Св. Миколая. Наша мета допомогти кожному наслідувати гарний приклад діянь Чудотворця та принести свято, радість, віру в чудеса з подарунками та вітаннями від Св. Миколая  у багатодітні та малозабезпечені сім’ї.
      </p>
      <div class="bell-illustration">
        <img src="images/bell_illustration.png">
      </div>
    </div>
  </div>
</section>
