<div class="transparent-block hide <%= mobile_layout ? 'hidden-md hidden-lg' : 'hidden-sm hidden-xs' %>" id="<%= mobile_layout ? 'contacts_form_mobile' : 'contacts_form' %>">
  <div class="container">
    <section class="main-block main-block--white text-center">
      <h2 class="main-block_h">Стати волонтером</h2>
      <div class="main-block_text">
        <p>
          Запрошуємо усіх охочих долучитися до акції „Миколай про тебе не забуде”.
          <br>
          Помічником Святого Миколая може стати кожен!
        </p>
      </div>
      <a
        href="javascript:void(0)"
        target="_blank" rel="noreferrer" class="btn btn-large m-btn m-btn--red"
        data-registration-form-url>Відправити заявку</a>
    </section>
  </div>
</div>
