<section class="main-block" id="contacts_block">
  <div class="container">
    <h2 class="main-block_h">Оргкомітет</h2>
    <div class="main-block_text">
      <p>
        Акцію вже 19-ий рік поспіль організовує МГО „Академія Української Молоді” спільно з навчальними закладами, небайдужими громадськими організаціями та спільнотами.
      </p>
    </div>
    <div class="human-block-wrapper">
      <% data.contacts.people.each_slice(4) do |group| %>
        <div class="row">
          <% group.each do |f| %>
            <%= partial(:contact, :locals => { :contact => f }) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
