<footer class="main-footer" id="social_block">
  <div class="container">
    <div class="social-block">
      <a href="https://www.facebook.com/MykolajProTebeNeZabude/" target="_blank" rel="noreferrer" class="social_unit">
        <i class="icon-facebook"></i>
      </a>
      <a href="https://t.me/akcijamykolaja/" target="_blank" rel="noreferrer" class="social_unit">
        <i class="icon-telegram"></i>
      </a>
      <a href="mailto:info@mykolaj.com.ua" class="social_unit">
        <i class="icon-mail4"></i>
      </a>
      <a href="https://www.instagram.com/akcijamykolaja/" target="_blank" rel="noreferrer" class="social_unit">
        <i class="icon-instagram"></i>
      </a>
      <a href="https://twitter.com/akcijamykolaja" target="_blank" rel="noreferrer" class="social_unit">
        <i class="icon-twitter"></i>
      </a>
    </div>
    <div class="copyright">
      Всі права захищені. 2019
    </div>
  </div>
</footer>
