<header class="main-header" id="main_menu">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <a href="#" data-scroll-to-block="#to_top" class="main-header-logo">
          <img src="images/main-logo-small.png">
        </a>
      </div>
      <div class="col-sm-6 col-xs-6 text-right hidden-md hidden-lg">
        <a id="header__button" class="hamburger collapsed" data-toggle="collapse" data-target=".js-main-menu" href="javascript:void(0)">
          <div class="hamburger__inner"></div>
        </a>
      </div>
      <div class="clearfix hidden-md hidden-lg"></div>
      <div class="col-md-8 text-right">
        <div class="js-main-menu collapse collapsing" role="navigation">
          <nav class="main-menu">
            <ul>
              <li>
                <a href="#how_help_block" data-scroll-to-block="#how_help_block">Як допомогти</a>
              </li>
              <li>
                <a href="#about_action" data-scroll-to-block="#about_action">Про акцію</a>
              </li>
              <li class="hidden-sm hidden-xs hide">
                <a href="#contacts_form" class="highlight" data-scroll-to-block="#contacts_form">Стати волонтером</a>
              </li>
              <li class="hidden-md hidden-lg hide">
                <a href="#contacts_form_mobile" class="highlight" data-scroll-to-block="#contacts_form_mobile">Стати волонтером</a>
              </li>
              <li class="hidden-sm hidden-xs hide">
                <a href="#report_block" class="highlight" data-scroll-to-block="#report_block" data-report-url-text>Звіт</a>
              </li>
              <li class="hidden-md hidden-lg hide">
                <a href="#report_block_mobile" class="highlight" data-scroll-to-block="#report_block_mobile" data-report-url-text>Звіт</a>
              </li>
              <li>
                <a href="#contacts_block" data-scroll-to-block="#contacts_block">Контакти</a>
              </li>
              <li>
                <a href="#social_block" data-scroll-to-block="#social_block">Соцмережі</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
