<section class="main-block" id="how_help_block">
  <div class="container">
    <h2 class="main-block_h">Як допомогти?</h2>
    <div class="row">
      <div class="col-md-4">
        <figure class="text-with-img">
          <div class="text-with-img_img">
            <img src="images/rabbit-circle.png">
          </div>
          <figcaption>
            <div class="text-with-img_h">
              <a href="#contacts_form" class="hidden-sm hidden-xs" data-scroll-to-block="#contacts_form">
                Стати волонтером
              </a>
              <div class="hidden-md hidden-lg">
                Стати волонтером
              </div>
            </div>
            <div class="text-with-img_text">
              <p>
                Допоможіть Чудотворцю прийти в домівки всіх дітей ставши Помічником Святого Миколая - попрацюйте на  Фабриці та допоможіть рознести подарунки малечі. Якщо Ви маєте можливість допомогти нам з перевезенням Помічників та подарунків ввечері 18 та 19 грудня 2016р, зголосіться стати волонтерами-водіями.
              </p>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="text-with-img">
          <div class="text-with-img_img">
            <img src="images/gloves-circle.png">
          </div>
          <figcaption>
            <div class="text-with-img_h">
              <a href="#map-block" data-scroll-to-block="#map-block">Принести подарунок</a>
            </div>
            <div class="text-with-img_text">
              Залиште подарунки (солодощі, іграшки, книжки, канцелярське приладдя, засоби гігієни) потребуючим дітлахам на Фабриці Св. Миколая за адресою вул. Коперника, 17 (Львівський Палац Мистецтв) з 12 по 17 грудня 2016р. або  у спеціальних коробках в приміщеннях партнерських організацій та спільнот.
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="text-with-img">
          <div class="text-with-img_img">
            <img src="images/deer-circle.png">
          </div>
          <figcaption>
            <div class="text-with-img_h">
              <a href="mailto:info@mykolaj.com.ua">Надати знижку</a>
            </div>
            <div class="text-with-img_text">
              Будемо дуже вдячні, якщо Ваша компанію надасть нам знижку на придбання солодощів, канцелярського приладдя для школи та творчості, книжок, розмальовок, засобів гігієни та іграшок для потребуючих діток з багатодітних та малозабезпечених сімей. Ваші пропозиції можете надсилати на наш email <a href="mailto:info@mykolaj.com.ua">info@mykolaj.com.ua</a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <figure class="text-with-img" style="margin-top: 60px;">
          <figcaption>
            <div class="text-with-img_h">
              <a href="javascript:void(0)">
                Допомогти фінансово
              </a>
            </div>
            <div class="text-with-img_text">
              <p>
                р/р №2600128018 у ВАТ АКБ «Львів» в м. Львів <br>
                код ЄДРПОУ: 26268438 <br>
                МФО 325268 <br>
                Призначення платежу: благодійна пожертва на потреби акції "Миколай про тебе не забуде!"
              </p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
