<div class="container <%= mobile_layout ? 'hidden-md hidden-lg' : 'hidden-sm hidden-xs' %>">
  <h1>Дорога спільното!</h1>
  <p>
    Знаємо, що ви давно чекаєте від нас новин, та нам був потрібен час, щоб розглянути всі можливі варіанти розвитку подій у цей непростий для всіх час.
  </p>
  <p>
    Як ви знаєте, підготовка до акції займає щороку понад 3 місяці, і до неї залучені тисячі людей, без яких такі масштаби були б неможливими.
    Та спостерігаючи, як щодня стрімко збільшується кількість хворих, ми розуміємо, що не можемо забезпечити належний рівень захисту для всіх залучених сторін.
    Саме безпека - і волонтерів, і, особливо, тих дітей, до кого ми приходимо, та їхніх родичів, є найважливішим зараз.
  </p>
  <p>
    Ми розуміємо, що сезон ГРВІ ще більше підсилює небезпеку, а ми не зможемо виявляти і відправляти на самоізоляцію всіх, хто був присутній у ту чи іншу зміну на Фабриці. Також розуміємо, що можливе закриття шкіл, які допомагали нам зі збором подарунків, а великі приміщення, в яких зазвичай була розташована Фабрика святого Миколая, можуть бути переобладнані під госпіталі. Масові заходи теж, швидше за все, будуть обмежені, а наша акція саме такою і є.
  </p>
  <p>
    Тож ми прийняли дуже важке для нас рішення - не проводити цьогорічну акцію, яка проводилась 19 років поспіль.
    Враховуючи ситуацію, що склалася, ми закликаємо всіх небайдужих людей в цей час допомогти тим, хто знаходиться поруч у складній ситуації - вашим сусідам, знайомим і незнайомим.
  </p>
  <p>
    Сподіваємось на ваше розуміння та бажаємо усім здоров'я!
  </p>
</div>
