<section class="main-bg" id="main_bg">
  <canvas id="snow"></canvas>
  <div class="main-logo-wrapper" id="main_logo">
    <canvas id="main-logo-canvas"></canvas>
    <div class="main-logo-wrapper_content">
      <a href="#" class="main-logo">
        <img src="images/main-logo.png">
      </a>
      <img src="images/decor-img.png">
    </div>
  </div>
</section>
