<section class="main-bg-container" id="main_bg">
  <div class="main-bg main-bg--blurred"></div>
  <canvas id="snow"></canvas>
  <div class="main-logo-wrapper main-logo-wrapper--blurred" id="main_logo">
    <canvas id="main-logo-canvas"></canvas>
    <div class="main-logo-wrapper_content">
      <a href="#" class="main-logo">
        <img src="images/main-logo.png">
      </a>
      <img src="images/decor-img.png">
    </div>
  </div>
  <div class="main-dialog-message-container">
    <%= partial "main-message", locals: { mobile_layout: false } %>
  </div>
</section>
