<section class="main-block main-block--without-padding text-center" id="map-block">
  <div class="container">
    <h2 class="main-block_h">Пункти збору подарунків</h2>
  </div>
  <div id="main_map" style="height: 500px;"></div>
</section>
