<section class="main-block" id="our_support">
  <div class="container">
    <h2 class="main-block_h">Наша підтримка</h2>
    <div class="logos-wrapper">
      <% ["images/aum-logo.png", "images/lviv-logo.png", "images/palace-of-arts-logo.png", "images/dzherelocentre-logo.png", "images/lviv-post-logo.png", "images/lviv-newspaper-logo.png", "images/children-in-city-small.png"].each do |image| %>
        <div class="logos-unit">
          <img src="<%= image %>">
        </div>
      <% end %>
    </div>
    <div class="logos-wrapper small-logos">
      <% [["images/softserve_ua.png", "100px"], ["images/eleks_com.png"], ["images/symphony-solutions_eu.png"], ["images/innocode_no.png"], [ "images/remit.png" ], ["images/intellias-logo.png"], ["images/lohika.png"], ["images/conscensia_com.png"], ["images/cedepe.png"], ["images/vitech_com_ua.png"], ["images/belle_maman_studio.png"], ["images/muzsvit.png", "90px"]].each do |image| %>
        <div class="logos-unit">
          <img src="<%= image[0] %>" style="max-width: <%= image[1] %>">
        </div>
      <% end %>
    </div>
  </div>
</section>
