<div class="transparent-block hide <%= mobile_layout ? 'hidden-md hidden-lg' : 'hidden-sm hidden-xs' %>" id="<%= mobile_layout ? 'report_block_mobile' : 'report_block' %>">
  <div class="container">
    <section class="main-block main-block--white text-center">
      <div class="main-block_text">
        <p data-report-text></p>
      </div>
      <a
        href="javascript:void(0)"
        target="_blank" class="btn btn-large m-btn m-btn--red"
        data-report-url
        data-report-url-text
      >Звіт</a>
    </section>
  </div>
</div>
